@using checkin4you.Client.Services.States
@inject NavigationManager NavigationManager
@inject LanguageStateService LanguageStateService

<div class="sidebar @NavMenuCssClass">
    
    <nav class="flex-column">
        <div class="d-flex flex-row align-items-center mt-3 ms-3 nav-link">
            <div class="d-flex flex-row align-items-center" @onclick="NavigateToHome">
                <RadzenIcon Icon="home" Style="color: white; font-size: 2.5rem" />
                <span class="label @CollapseLabelCssClass">@HomePageString</span>
            </div>
            @if(!collapseNavMenu)
            {
                <div class="d-flex flex-row align-items-center ms-auto me-3">
                    <RadzenIcon Icon="@CollapseIconCssClass" Style="color: white; font-size: 2.5rem" @onclick="ToggleNavMenu" />
                </div>
            }
        </div>
        @if (collapseNavMenu)
        {
            <div class="d-flex flex-row align-items-center mt-3 ms-3 nav-link">
                <RadzenIcon Icon="@CollapseIconCssClass" Style="color: white; font-size: 2.5rem" @onclick="ToggleNavMenu" />
            </div>
        }
    </nav>
    <div class="sidebar-bottom d-flex flex-column">
        <div class="d-flex flex-row align-items-center mb-3 ms-3 nav-link" @onclick="@(() => SetLanguage("de"))">
            <SVGFlag CountryCode="DE" FlagType="FlagType.Square" Width="40" Height="40" style="border-radius: 50%"></SVGFlag>
            <span class="label @CollapseLabelCssClass">Deutsch</span>
        </div>
        <div class="d-flex flex-row align-items-center mb-3 ms-3 nav-link" @onclick="@(() => SetLanguage("en"))">
            <SVGFlag CountryCode="GB" FlagType="FlagType.Square" Width="40" Height="40" style="border-radius: 50%"></SVGFlag>
            <span class="label @CollapseLabelCssClass">English</span>
        </div>
        <div class="d-flex flex-row align-items-center mb-3 ms-3 nav-link" @onclick="@(() => SetLanguage("it"))">
            <SVGFlag CountryCode="IT" FlagType="FlagType.Square" Width="40" Height="40" style="border-radius: 50%"></SVGFlag>
            <span class="label @CollapseLabelCssClass">Italiano</span>
        </div>        
        <div class="d-flex flex-row align-items-center mb-3 ms-3 nav-link" @onclick="@(() => SetLanguage("nl"))">
            <SVGFlag CountryCode="NL" FlagType="FlagType.Square" Width="40" Height="40" style="border-radius: 50%"></SVGFlag>
            <span class="label @CollapseLabelCssClass">Nederlands</span>
        </div>
    </div>
</div>

@code {
    private bool collapseNavMenu = true;

    private string HomePageString = "Startseite";

    private string? CollapseIconCssClass => collapseNavMenu ? "keyboard_double_arrow_right" : "keyboard_double_arrow_left";
    private string? CollapseLabelCssClass => collapseNavMenu ? "d-none" : null;
    private string? NavMenuCssClass => collapseNavMenu ? "collapsed" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    public void SetLanguage(string language)
    {
        switch (language)
        {
            case "de": 
                HomePageString = "Startseite";
                break;
            case "en":
                HomePageString = "Home page";
                break;
            case "it":
                HomePageString = "Pagina iniziale";
                break;
            case "nl":
                HomePageString = "Startpagina";
                break;
        }
        LanguageStateService.SetCurrentLang(language);
    }

    public void NavigateToHome()
    {
        NavigationManager.NavigateTo("/" + LanguageStateService.CurrentLang + "/home");
    }
}
