@page "/it/checkin/withoutReservation"


<div class="d-flex flex-column p-4 vh-100 w-100" style="overflow: auto">
    <div class="d-flex">
        <div class="d-flex flex-column w-100">
            <div class="@DisplayNoneCssClass">
                <RadzenCard class="w-100" Style="background-color: #40A535; color: white; height: fit-content;">
                    <div class="d-flex flex-column align-items-start justify-content-center">
                        <h1>Si prega di inserire il nome della prenotazione!</h1>
                        <RadzenTextBox Placeholder="Nome..."
                                       @oninput="@(args => OnGuestNameInput(args.Value.ToString()))"
                                       class="w-100"
                                       id="guestName" />
                    </div>
                </RadzenCard>
                @if(ShowSpinner)
                {
                    <div class="d-flex w-100 align-items-center justify-content-center mt-4">
                        <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status"></div>
                    </div>
                }
            </div>
            @if(Reservation != null && Reservation.Idreservations != null && Reservation.Idreservations.Any())
            {
                <RadzenCard class="w-100">
                    <div class="d-flex">
                        <div>
                            <h2>Si prega di controllare e completare i dati!</h2>
                            @if(Reservation.ExternalResIds != null && Reservation.ExternalResIds.Any())
                            {
                                <h4>Numero di prenotazione @Reservation.ExternalResIds.First()</h4>
                            }
                            <h4>Resta da @Reservation.ArrivalDate?.ToString("dd.MM.yyyy") a @Reservation.DepartureDate?.ToString("dd.MM.yyyy")</h4>  
                        </div>
                        @if(ReservationsLoaded && Reservation != null)
                        {
                            <div class="ms-auto" />
                            <div class="me-4">
                                <RadzenButton Style="background-color: #9e2b25; height: 100%" Click="@Cancel">
                                    Aborto
                                </RadzenButton>
                            </div>
                            <div>
                                <RadzenButton Style="background-color: #40A535; height: 100%" Click="@TryCheckIn">
                                    Fai il check-in ora!
                                </RadzenButton>
                            </div>
                        }        
                    </div>
                    @if(ShowInvalidMessage)
                    {
                        <div class="mt-4">
                            <h1 style="color: red; text-align:center">Si prega di compilare tutti i campi richiesti!</h1>
                        </div>
                    }
                                              
                    @if(Reservation.Guests != null && Reservation.Guests.Count() > 0)
                    {
                        <h4>Ospite principale</h4>
                        <div class="d-flex flex-column w-100 mb-4">
                            <div class="d-flex w-100 mb-2">
                                <RadzenTextBox @bind-Value="@Reservation.Guests.First().Name1" Placeholder="Cognome*" class="me-2 w-50" />
                                <RadzenTextBox @bind-Value="@Reservation.Guests.First().Name2" Placeholder="Nome*" class="w-50" />
                            </div>
                            <div class="d-flex w-100">
                                <RadzenTextBox @bind-Value="@Reservation.Guests.First().Street" Placeholder="Indirizzo*" class="w-100 mb-2" />
                            </div>
                            <div class="d-flex w-100 mb-2">
                                <RadzenTextBox @bind-Value="@Reservation.Guests.First().ZipCode" Placeholder="Codice postale*" class="me-2" Style="width: 33.3%" />
                                <RadzenTextBox @bind-Value="@Reservation.Guests.First().CityName" Placeholder="Città*" class="me-2" Style="width: 33.3%" />
                                <RadzenTextBox @bind-Value="@Reservation.Guests.First().StateName" Placeholder="Paese*" Style="width: 33.3%" />
                            </div>
                            <div class="d-flex w-100">
                                <RadzenDatePicker TValue="DateTime?" @bind-Value="@Reservation.Guests.First().Birthdate" Placeholder="Data di nascita*" class="me-2" DateFormat="dd.MM.yyyy" Style="width: 33.3%" />
                                <RadzenTextBox @bind-Value="@Reservation.Guests.First().Phone" Placeholder="Numero di telefono*" class="me-2" Style="width: 33.3%" />
                                <RadzenTextBox @bind-Value="@Reservation.Guests.First().Email" Placeholder="E-Mail" Style="width: 33.3%" />
                            </div>
                        </div>
                        @if (Reservation.Guests.Count > 1)
                        {
                            <h4>Compagni di viaggio</h4>
                            @foreach (var guest in Reservation.Guests.Skip(1))
                            {
                                <div class="d-flex">
                                    <div class="d-flex w-100 mb-2">
                                        <RadzenTextBox @bind-Value="@guest.Name1" Placeholder="Cognome*" class="me-2" Style="width: 33.3%" />
                                        <RadzenTextBox @bind-Value="@guest.Name2" Placeholder="Nome*" class="me-2" Style="width: 33.3%" />
                                        <RadzenDatePicker TValue="DateTime?" @bind-Value="@guest.Birthdate" Placeholder="Data di nascita*" DateFormat="dd.MM.yyyy" Style="width: 33.3%" class="me-2" Max="DateTime.Today" />
                                        <RadzenButton Click=@(args => RemoveGuest(@guest)) Icon="close" Style="background-color: #9e2b25;" />
                                    </div>
                                </div>
                            }
                        }
                        <RadzenButton Style="background-color: #1e1e1e"
                                        Click="@AddGuest">
                            Aggiungi compagni di viaggio
                        </RadzenButton>
                    }
                </RadzenCard>
            }
            @if(ReservationsLoaded && (Reservation == null || Reservation.Idreservations == null || !Reservation.Idreservations.Any()))
            {
                <RadzenCard class="mt-4">
                    <h1>Nessuna prenotazione trovata!</h1>
                </RadzenCard>
            }
            @if (ReservationsLoaded && CheckedInReservation != null)
            {
                <RadzenCard class="mt-4">
                    <h1>Hai già effettuato il check-in!</h1>
                    @if (CheckedInReservation.ItemCodes.Count > 1)
                    {
                        <h3>Le tue stanze sono::</h3>
                        <div class="d-flex">
                            @foreach(var room in CheckedInReservation.ItemCodes)
                            {
                                <div class="room">
                                    @room
                                </div>
                            }
                        </div>
                    }
                    else
                    {
                        <h3>La tua stanza è:</h3>
                        <div class="d-flex">
                            <div class="room">
                                @CheckedInReservation.ItemCodes.First()
                            </div>
                        </div>
                    }
                </RadzenCard>
            }
            <div class="d-flex @DisplayNoneCssClass mt-4">
                
                <div class="d-flex w-100 @DisplayNoneCssClass">
                    <RadzenCard class="w-75 me-4">
                        <h1>Hai bisogno di aiuto?</h1>
                        <span>Il nostro personale del ristorante sarà lieto di aiutarti, oppure puoi contattarci al +43 7723 20614</span>
                    </RadzenCard>
                    <RadzenButton Style="background-color: #1e1e1e; height: 100%; width: 25%" Click="@Cancel" class="p-4 w-25 h-100">
                        Torna alla home page!
                    </RadzenButton>
                </div>
                
            </div>
            @if (ReservationsLoaded && Reservation != null)
            {
                <span class="mt-2">I campi obbligatori sono contrassegnati da un *.</span>
            }
        </div>
    </div>
</div>

